# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
APP_PORT=3013

## For MySql
# DATABASE_URL="mysql://<db-user>:<dbpass>@<db-host>:<db-port>/<db-name>"
# Exmaple:
# DATABASE_URL="mysql://root:drootp@172.1.0.6:3306/ehm"